<div class="col-6 izquierda">
    <label for="txttotalAccount" class="form-label">Total de la cuenta</label>
    <input formControlName="txttotalAccount"  class="form-control" type="number" id="txttotalAccount" >
    Seleccione la cantidad de propina %
    <div class="row mt-3">
      <div class="col-4">
        <button formControlName="btn5" class="form-control">5%</button>
      </div>
      <div class="col-4">
        <button formControlName="btn10"  class="form-control">10%</button>
      </div>
      <div class="col-4">
        <button formControlName="btn15"  class="form-control">15%</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <button formControlName="btn25"  class="form-control">25%</button>
      </div>
      <div class="col-4">
        <button formControlName="btn50"  class="form-control">50%</button>
      </div>
      <div class="col-4">
        <input formControlName="txtI"  class="form-control" placeholder="Ingrese %" type="number" >
      </div>
    </div>
    <label for="txtnumPersons" class="form-label">Número de personas</label>
    <input formControlName="txtnumPersons"  class="form-control" type="number" id="txtnumPersons" >
</div>
