<label for="txttotalAccount" class="form-label">Total de la cuenta</label>
<input formControlName="txttotalAccount"  class="form-control" type="number" id="txttotalAccount" >
<label for="groupButtons" class="form-label">Seleccione la cantidad de propina %</label>
<div id="groupButtons">
    <div class="row">
        <div class="col-4">
            <button>5%</button>
        </div>
        <div class="col-4">
            <button  >10%</button>
        </div>
        <div class="col-4">
            <button   >15%</button>
        </div>
    </div>
    <div class="row mt-2 mb-1">
        <div class="col-4">
            <button   >25%</button>
        </div>
        <div class="col-4">
            <button  >50%</button>
        </div>
        <div class="col-4">
            <input formControlName="txtI"  class="form-control" placeholder="Ingrese %" type="number" >
        </div>
    </div>
</div>
<label for="txtnumPersons" class="form-label">Número de personas</label>
<input formControlName="txtnumPersons"  class="form-control" type="number" id="txtnumPersons" >
            