
.container {
    background-color: #1c3b4e;
    margin: none;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    padding-right: 15px;  
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  }
  body {
    background-color: #1c3b4e;
    margin: none;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    padding-right: 15px;  
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  }