<div class="col-6 derecha">
    <div class="row mt-3">
      <div class="col-6">
        Propina por persona
      </div>
      <div class="col-6">
        $0.0
      </div>
      
    </div>
    <div class="row mt-3">
      <div class="col-6">
        Propina Total
      </div>
      <div class="col-6">
        $0.0
      </div>
    </div>
    <div class="row mt-3 totalamount1">
      <div class="col-6 ">
        Cuenta + Propina
      </div>
      <div class="col-6">
        $0.0
      </div>
    </div>
    <button>Limpiar</button>
</div>

