<div class="row ">

  <div class="col-6 text-start txtsubtotalAmount">
      <label class="form-label">Propina por persona</label>
  </div>
  <div class="col-6 text-end mntsubtotalAmount">
      $  {{ propinaPersona }}
  </div>
</div>
<div class="row">
  <div class="col-6 text-start txtsubtotalAmount">
      <label class="form-label">Propina Total</label>
  </div>
  <div class="col-6 text-end mntsubtotalAmount">
      $  {{ propinaTotal }}
  </div>
</div>
<div class="row">
  <div class="col-6 text-start txttotalAmount">
      <label class="form-label">Cuenta + Propina</label>
  </div>
  <div class="col-6 text-end mnttotalAmount">
      $  {{ totalPT }}
  </div>
</div>
<button (click)="limpiar()" type="button" class="btnIzquierda">Limpiar</button>

