.container {
  background-color: #1c3b4e;
  margin: none;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding-right: 15px;  
  padding-left: 15px; 
  margin-right: auto; 
  margin-left: auto;
} 
  
@media (max-width: 575px) {
  .contenedor{
    background:#FFFFFF;
    padding: none;
    min-width: 375px;
  }
  
  
  .contIzquierda{
    background:#FFFFFF;
    color: #1c3b4e;
    font-size: 16px;
    padding: 30px;
  }
  .contDerecha{
    background:#1c3b4e;
    padding: 30px;
  }
}
@media (min-width: 576px) {  
  .container{
    max-width: 1440px; 
  }
  .contenedor{
    background:#FFFFFF;
    padding: 30px;
  }
  .contIzquierda{
    background:#FFFFFF;
    color: #1c3b4e;
    
    padding: 30px 15px 30px 30px;
  }
  .contDerecha{
    background:#1c3b4e;
    padding: 30px 30px 30px 15px;
  }
  
}
* {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight:semibold;
}



img {
  max-width: 100%;
  min-width: 375px;
  height: auto;
}

button {
  background-color: #3F6E8A;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  width: 100%;
}

button:hover {
  background-color: #1c3b4e;
}


button:focus{ 
  outline: none;
}

.buttonD {
  background-color: #FFFFFF;
  border: 0px;
  color: #1c3b4e;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  width: 100%;
}

.buttonD:hover {
  background-color: #EDEDED;
}


.buttonD:focus{ 
  outline: none;
}

/** FUENTES **/
.txttotalAmount{
  font-size: 22px;
  font-weight: 600;
  
}
.mnttotalAmount{
  font-size: 45px;
  font-weight:bold;
}

.txtsubtotalAmount{
  font-size: 16px;
  
  /*font-weight: 600;*/
  font-weight:bold;
  
}
.mntsubtotalAmount{
  font-size: 25px;
  font-weight:bold;
}

/**/
.input-icono {
  
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  padding-left: 28px;
  height: 30px;
  border: 1px solid rgba(9, 114, 163, 0.637);
  border-radius: 3px;
  font-size: 20px;
  font-weight:600;
}
.input-icono input {
  width: 100%;
  font-size: 0.9em;
  border: none;
}
.input-icono input:focus {
  outline: none;
}

.in-ic-account {
  background-image: url('assets/images/dolar.png');
}
.in-ic-persons {
  background-image: url('assets/images/grupo.png');
}
.input-colors{
  background-color:#EDEDED;
}
